{
    "appSecret": "GET FROM FACEBOOK APP",
    "pageAccessToken": "GET FROM FACEBOOK APP",
    "validationToken": "MUST MATCH THE VERIFY TOKEN FROM FB WEBHOOK SETTINGS",
    "serverURL": "YOUR PUBLIC WEBHOOK URL",
    "nuntiumHostname" : "NUNTIUM URL",
    "nuntiumUser" : "NUNTIUM USER",
    "nuntiumPassword" : "NUNTIUM PASSWORD",
    "nuntiumApplication" : "NUNTIUM_APPLICATION",
    "nuntiumURL" : "NUNTIUM_APPLICATION",
    "sampleDatabaseURL": "mongodb://USER:PASSWORD@www.mlab.com:PORT/database_name",
    "sampleCollectionName": "COLLECTION_NAME",

}
